priority -50

snippet digne "digne" b
digraph {
  node [shape=box, fontname="Inconsolata, Consolas", fontsize=10, penwidth=0.5]
  edge [fontname="Inconsolata, Consolas", fontsize=10, penwidth=0.5]

  $0
} 
endsnippet
