priority -50

snippet doctype "HTML - 5.0 (doctype)" b
<!DOCTYPE html>

endsnippet

snippet abbr "<abbr>" w
<abbr title="$2">$1</abbr>
endsnippet

snippet fig "<figure>"
<figure>
$1
<figcaption>$2</figcaption>
</figure>
endsnippet
